@font-face {
  font-family: 'dancingScript';
  src: url('assets/fonts/Dancing_Script/DancingScript-VariableFont_wght.ttf');
}

:root {
  --ac-blue: #0369A1;
  --ac-light-blue: #38BDF8;
  --bg-light: #F5F5F5;
  --text-light: #fff;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-light);
}

/* General Styles */

li {
  list-style-type: none;
  /* Remove when Links are added */
  cursor: pointer;
}

/* Remove when Links are added */
li:hover {
  color: var(--ac-light-blue);
}

/* Header */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2em;
  background-color: var(--ac-blue);
  color: var(--text-light);
  font-size: 1.4em;
  font-family: sans-serif;
}

nav > ul {
  display: flex;
  gap: 1em;
  transition: all 0.3s ease-in-out;
}


.logo {
  font-size: 2em;
  font-family: 'dancingScript', sans-serif;
  font-weight: 500;
}

.hamburger {
  display: none;
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  nav ul {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    position: fixed;
    top: 5.5em;
    right: -100%;
    width: 50vw;
    background-color: var(--ac-blue);
    padding: 1em;
    transition: all 0.3s ease-in-out;
  }

  nav ul.show {
    right: 0;
  }

  nav li {
    margin: 10px;
    font-size: 1.5em;
    color: var(--text-light);
  }

  .hamburger {
    display: block;
    cursor: pointer;
    margin-top: .5em;
  }

  .hamburger span {
    display: block;
    width: 2em;
    height: .3em;
    margin-bottom: .6em;
    position: relative;
    background: #fff;
    border-radius: 3px;
    z-index: 1;
  }

  .hamburger span:nth-child(2) {
    transform: translateY(-6px);
  }

  .hamburger span:nth-child(3) {
    transform: translateY(-12px);
  }
}